version: 1.0.{build}
branches:
  only:
  - master
before_build:
- cmd: nuget restore ./OnlineVehicleOrganizer.sln
build:
  project: ./OnlineVehicleOrganizer.sln
  publish_nuget: true
  include_nuget_references: true
  verbosity: minimal
environment:
  COVERALLS_REPO_TOKEN:
    secure: mirGrC2DCNg61GyTlDipue7T0uT9yUQ8TESyWVJBbwdB5jLwBpdpQP19joe/d7Kb
after_test: 
  - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -filter:"+[*]*" -target:"packages\NUnit.ConsoleRunner.3.7.0\tools\nunit3-console.exe" -targetargs:"/domain:single OVO.Tests\bin\Debug\OVO.Tests.dll" -output:cover.xml
  - packages\coveralls.io.1.4.1\tools\coveralls.net.exe --opencover cover.xml
