@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model ManufacturersListViewModel

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>All</h2>

    @Html.Grid(Model.Manufacturers).Columns(columns =>
        {
            columns.Add(x => x.Name).Titled("Manufacturer").SetWidth(200);
            columns.Add(x => x.IsDeleted).Titled("IsDeleted").SetWidth(20);
        }).WithPaging(10).EmptyText("No available Manufacturers!")
</div>

