@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model ManufacturersListViewModel

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>All</h2>

    @Html.ActionLink("Add New Manufacturer", "Add", null, new { @class = "btn btn-large btn-success"})

    @Html.Grid(Model.Manufacturers).Columns(columns =>
{
columns.Add(x => x.Name).Titled("Manufacturer").SetWidth(200);
columns.Add(x => x.IsDeleted).Titled("IsDeleted").SetWidth(20);
columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth(50)
       .RenderValueAs(x => @<div id="edit-btn">@Html.ActionLink("Edit", "Edit", new { manufacturerId = x.Id }, new { @class = "gridbutton" })</div>);
columns.Add()
     .Encoded(false)
     .Sanitized(false)
     .SetWidth(50)
     .RenderValueAs(x => @<div id="delete-btn">@Html.ActionLink("Delete", "Delete", new { manufacturerId = x.Id }, new { @class = "gridbutton" })</div>);
}).WithPaging(10).EmptyText("No available Manufacturers!")
</div>

