@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model UsersListViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Users</h1>

    @Html.Grid(Model.Users).Columns(columns =>
        {
            columns.Add(x => x.Username).Titled("Username").SetWidth(200);
            columns.Add(x => x.Email).Titled("Email").SetWidth(200);
            columns.Add(x => x.IsDeleted).Titled("IsDeleted").SetWidth(20);
        }).WithPaging(10).EmptyText("No available users!")
</div>

