@using OVO.Web.Areas.Administration.ViewModels
@model UserViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restore</h2>

<p>Are you sure to restore:</p>

<p>User: @Model.Email</p>

@using (@Html.BeginForm("Undelete", "Users", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Email)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-success">Restore</button>
}