@using OVO.Web.Areas.Administration.ViewModels
@model UserViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 margin-left-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Restore</h3>
            </div>
            <div class="panel-body">

                <p>Are you sure to restore:</p>

                <p>User: @Model.Email</p>

                @using (@Html.BeginForm("Undelete", "Users", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Email)
                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-success">Restore</button>
                }
            </div>
        </div>
    </div>
</div>