@using OVO.Web.Areas.Administration.ViewModels
@model ModelViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

@using (@Html.BeginForm("Add", "Models", FormMethod.Post))
{
    @Html.LabelFor(x => x.Name);
    @Html.EditorFor(x => x.Name);



    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-success">Add</button>
}