@using OVO.Web.Areas.Administration.ViewModels
@model ModelViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Delete</h3>
            </div>
            <div class="panel-body">

                <p>Are you sure to delete:</p>

                <p>Model: @Model.ModelName</p>

                @using (@Html.BeginForm("Delete", "Models", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)
                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>
</div>