<div id="langGroup" class="btn-group toolTipgroup">
    <a class="btn" href="~/language/change?languageAbbreviation=en"  data-original-title=@OVO.Web.Resources.Lang.English>
        <img src="../Resources/Images/flagUK.png" class="icon-envelope" />
    </a>
    <a class="btn" href="~/language/change?languageAbbreviation=bg"  data-original-title=@OVO.Web.Resources.Lang.Bulgarian>
        <img src="../Resources/Images/flagBG.png" class="icon-envelope" />
    </a>
</div>

