@{
    ViewBag.Title = @OVO.Web.Resources.Lang.Contact;
}

<div class="row">
    <div class="col-md-5 margin-left-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@OVO.Web.Resources.Lang.Contact</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <h4>
                        @OVO.Web.Resources.Lang.ContactDesc :
                        <span class="label label-default">
                            <a href="https://github.com/jorosoft/OnlineVehicleOrganizer">jorosoft</a>
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

