@{
    ViewBag.Title = @OVO.Web.Resources.Lang.Home;
}

<div class="our-services">
    <div class="container">
        <div class="row">
            <div id="wrapper" class="col-md-6">
                <div class="services">
                    <div class="icons">
                        <img src="~/car.png" />
                    </div>
                    <div class="icons">
                        <h4>@OVO.Web.Resources.Lang.AppName</h4>
                        <p>@OVO.Web.Resources.Lang.AppDescription</p>
                    </div>
                </div>

                <hr>
            </div>

        </div>
    </div>
</div>
